.intro__ava {
  border: 5px solid #abcdff;
  object-fit: cover;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  @media (max-width: $desktop-width) {
    width: 110px;
    height: 120px;
  }
}

.intro__container {
  @include container();
  display: flex;
  justify-content: space-between;
}

.intro__text {
  font-family: $regular;
  font-size: 23px;
  line-height: 35px;
  color: $dark-blue;
  text-align: justify;
  @media (max-width: $desktop-width) {
    font-size: 12px;
    line-height: 19px;
    margin-left: 20px;
  }
}

.tabs__button {
  background-color: transparent;
  border: 1px solid $dark-blue;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in;

  &:first-child {
    margin-right: 10px;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  @media (max-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.tab-active {
  background-color: rgb(255, 224, 224);
}
