.modal-window {
  position: fixed;
  box-sizing: border-box;
  overflow-y: scroll;
  left: 50%;
  top: 50%;
  left: 50%;
  max-height: 700px;
  background-color: hsl(0, 0%, 100%);
  animation: fadeIn 0.3s forwards;
  border: 2px solid #4c80ce;
  border-radius: 10px;
  z-index: 3;
  @media (min-width: $mobile-width) {
    width: 340px;
    padding: 20px;
    transform: translate(-50%, -50%);
  }
  @media (min-width: $tablet-width) {
    width: 500px;
    padding: 30px;
  }
  @media (min-width: $desktop-width) {
    padding: 10px 40px;
    width: 600px;
  }
}

.modal-window__header {
  display: flex;
  justify-content: flex-end;
}

.modal-window__close {
  position: relative;
  width: 30px;
  border-radius: 5px;
  height: 30px;
  border: none;
  background-color: #fff;
  color: #333;
  transition: opacity 0.3s ease;
  &::after {
    position: absolute;
    top: 13px;
    left: 1px;
    rotate: 45deg;
    width: 27px;
    height: 2px;
    background-color: #333;
    content: '';
  }
  &::before {
    position: absolute;
    top: 13px;
    left: 1px;
    rotate: -45deg;
    width: 27px;
    height: 2px;
    background-color: #333;
    content: '';
  }
  &:hover {
    opacity: 0.7;
  }
}

.modal-window__img-wrapper {
  @extend .posts-list__photo-wrapper;
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: $mobile-width) {
    width: 300px;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media (min-width: $tablet-width) {
    width: 420px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.modal-window__img {
  @extend .posts-list__photo;
}

.modal-window__text-wrapper {
  text-align: justify;
  border-bottom: 1px solid $dark-blue;
  @media (min-width: $mobile-width) {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

.modal-window__text {
  @extend .posts-list__text;
  margin: 0;
  @media (max-width: $desktop-width) {
    font-size: 14px;
  }
}

.modal-window__text-subtitle {
  @extend .posts-list__text-subtitle;
}

.modal-window__content {
  @extend .posts-list__content;

  @media (min-width: $mobile-width) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.modal-window-date {
  @extend .posts-list__date;
}

.modal-window__button {
  @extend .post-list__button;
}

.modal-window .comments {
  border-bottom: none;
}
