.posts-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts-list__container {
  position: relative;
  margin-top: 50px;
  width: 700px;
  display: flex;
  flex-direction: column;
  @media (min-width: $mobile-width) {
    margin: 10px 20px;
  }
  @media (min-width: $tablet-width) {
    margin: 20px 100px;
  }
}

.posts-list__photo-wrapper {
  margin: 0 auto;
  display: block;
  position: relative;
  @media (min-width: $mobile-width) {
    width: 260px;
    height: 300px;
  }
  @media (min-width: $tablet-width) {
    width: 370px;
    height: 410px;
  }
  @media (min-width: $desktop-width) {
    width: 500px;
    height: 400px;
  }
}

.posts-list__photo {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}

.posts-list__item {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  margin-bottom: 40px;
  background-color: $light-blue;
  box-shadow: 5px 3px 3px #d9d9d9;

  @media (min-width: $mobile-width) {
    padding: 15px 25px;
  }
  @media (min-width: $desktop-width) {
    padding: 30px 50px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.posts-list__text {
  margin: 20px 0;
  font-family: $regular;
  color: #333;
  @media (min-width: $mobile-width) {
    font-size: 16px;
  }
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.posts-list__text-subtitle {
  font-family: $bold;
}

.posts-list__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  align-items: center;
}

.posts-list__date {
  font-family: $regular;

  color: $dark-blue;
  @media (min-width: $mobile-width) {
    font-size: 16px;
  }
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.post-list__button {
  background-color: transparent;
  border: none;
}

.pagination-list {
  padding: 15px 25px;
  background-color: $light-blue;
  color: #fff;
  font-family: $regular;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $dark-blue;
  }
}
