.list-svg {
  width: 40px;
  height: 36px;
  @media (max-width: $desktop-width) {
    width: 20px;
    height: 33px;
  }
}

.table-svg {
  width: 50px;
  height: 51px;
  @media (max-width: $desktop-width) {
    width: 30px;
    height: 30px;
  }
}

.logo-svg {
  @media (min-width: $mobile-width) {
    width: 105px;
    height: 40px;
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 195px;
    height: 56px;
  }
}

.avatar-svg {
  width: 48px;
  height: 47px;
  @media (max-width: $desktop-width) {
    width: 38px;
    height: 37px;
  }
}

.social-media .bi-heart-fill {
  width: 36px;
  height: 36px;
  fill: $dark-blue;
  transition: opacity 0.3s ease;

  @media (min-width: $mobile-width) {
    width: 30px;
    height: 30px;
  }
  @media (min-width: $desktop-width) {
    width: 36px;
    height: 36px;
  }
  &:hover {
    opacity: 0.5;
  }
}

.social-media .bi-chat-fill {
  fill: $dark-blue;

  transition: opacity 0.3s ease;
  @media (min-width: $mobile-width) {
    width: 30px;
    height: 34px;
    transform: translateY(-2px);
  }
  @media (min-width: $desktop-width) {
    width: 36px;
    height: 40px;
    transform: translateY(-4px);
  }
  &:hover {
    opacity: 0.5;
  }
}

.social-media .table__item-number {
  color: $dark-blue;
  font-size: 18px;
}

.bi-chat-fill {
  width: 48px;
  height: 48px;

  @media (max-width: $desktop-width) {
    width: 12px;
    height: 12px;
  }
}

.bi-heart-fill {
  width: 48px;
  height: 48px;

  @media (max-width: $desktop-width) {
    width: 12px;
    height: 12px;
  }
}
